html {
    height: 100%;width: 100%;
}
body {
    margin: 0;
    height: 100%;width: 100%;
}
* {
    box-sizing: border-box;margin: 0;padding: 0;
    outline: none;
}
a {
    text-decoration: none;
    color: #333;
    cursor: pointer;
}
li {
    list-style: none;
}
img {
	-webkit-user-drag: none;
  }
#app {
    font-family: Avenir,-apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,noto sans,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji,sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #2c3e50;
    height: 100%;width: 100%;
}
#app #appBody {
    height: calc(100% - 70px);
}
#app #nav {
    height: 100%;
    width: 100%;
	display: flex;
	/* padding: 40px 0 0; */
}
#nav .main_left {
    flex: 0 0 20%;
    border-right: 1px solid #f3f3f3;
	max-height: 100%;
	overflow-y: hidden;
	padding-bottom: 50px;
}
#nav .main_left:hover{
	overflow-y: auto;
}


#nav .main_left::-webkit-scrollbar {
	width: 0px!important;
	height: 0px!important;
	-webkit-appearance: none;
}
#nav .main_body::-webkit-scrollbar{
	width: 10px!important;
	height: 10px!important;
	-webkit-appearance: none;
}
#nav .main_left::-webkit-scrollbar-thumb, #nav .main_body::-webkit-scrollbar-thumb {
	height: 5px;
	border: 1px solid transparent;
	border-top: 0;
	border-bottom: 0;
	-webkit-border-radius: 6px;
	background-color: #ddd;
	background-clip: padding-box;
}
#nav .main_left .nav-list a {
    display: block;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 8px;
}
#nav .main_left .nav-list.nav-first a {
    font-weight: 600;
    margin: 10px 0;
}
#nav .main_left .nav-list.nav-first a:hover {
    color: #333 !important;
}
#nav .main_left .nav-list a {
	text-align: left;
	padding-left: 40px;
}
#nav .main_left .nav-list a:hover {
	color: #1890ff;
	transition: transform .15s cubic-bezier(.645,.045,.355,1),opacity .15s cubic-bezier(.645,.045,.355,1),-webkit-transform .15s cubic-bezier(.645,.045,.355,1);
}
#nav .main_left .nav-list .router-link-active {
	color: #1890ff;
	background-color: #eaf8ff;
	border-right: 3px solid #1890ff;
	transition: transform .15s cubic-bezier(.645,.045,.355,1),opacity .15s cubic-bezier(.645,.045,.355,1),-webkit-transform .15s cubic-bezier(.645,.045,.355,1);
}
#nav .main_left .nav-list.nav-basic {
	padding: 0 40px;
}
#nav .main_left .nav-list.nav-basic a {
    color: rgba(0,0,0,.45);
    font-size: 12px;
    border-bottom: 1px solid #f2f2f2;
    padding-left: 0;
}
#app .main_body {
    height: 100%;
    flex: 1;
    padding: 20px 60px;
    text-align: left;
    font-size: 14px;    
    overflow-y: auto;
}

.demo-contain {
	font-size: 14px;
	line-height: 22px;
}
.demo-contain code {
	color: #5e6d82 !important;
	background-color: #e6effb !important;
	margin: 0 4px;
	display: inline-block;
	padding: 1px 5px;
	font-size: 12px;
	border-radius: 3px;
	height: 18px;
	line-height: 18px;
}
.table_show {
	border-collapse: collapse;
	width: 100%;
	background-color: #fff;
	font-size: 14px;
	margin-bottom: 45px;
	line-height: 1.5em;
}
.table_show th {
	text-align: left;
	white-space: nowrap;
	color: #909399;
	font-weight: 400;
	border-bottom: 1px solid #dcdfe6;
	padding: 15px;
	max-width: 250px;
}
.table_show td {
	color: #606266;
	border-bottom: 1px solid #dcdfe6;
	padding: 15px;
	max-width: 250px;
}