html {
    height: 100%;width: 100%;
}
body {
    margin: 0;
    height: 100%;width: 100%;
}
* {
    box-sizing: border-box;margin: 0;padding: 0;
    outline: none;
}
a {
    text-decoration: none;
    color: #333;
}
li {
    list-style: none;
}
#app {
    font-family: Avenir,-apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,noto sans,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji,sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #2c3e50;
    height: 100%;width: 100%;
}
#app #appBody {
    height: calc(100% - 70px);
}
#app #nav {
    height: 100%;
    width: 100%;
	display: flex;padding: 40px 0 0;
}
#nav .main_left {
    flex: 0 0 20%;
    border-right: 1px solid #f3f3f3;
}
#nav .main_left .nav-list a {
    display: block;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 8px;
}
#nav .main_left .nav-list.nav-first a {
    font-weight: 600;
    margin: 10px 0;
}
#nav .main_left .nav-list.nav-first a:hover {
    color: #333 !important;
}
#nav .main_left .nav-list a {
	text-align: left;
	padding-left: 40px;
}
#nav .main_left .nav-list a:hover {
	color: #1890ff;
	transition: transform .15s cubic-bezier(.645,.045,.355,1),opacity .15s cubic-bezier(.645,.045,.355,1),-webkit-transform .15s cubic-bezier(.645,.045,.355,1);
}
#nav .main_left .nav-list .router-link-active {
	color: #1890ff;
	background-color: #eaf8ff;
	border-right: 3px solid #1890ff;
	transition: transform .15s cubic-bezier(.645,.045,.355,1),opacity .15s cubic-bezier(.645,.045,.355,1),-webkit-transform .15s cubic-bezier(.645,.045,.355,1);
}
#nav .main_left .nav-list.nav-basic {
	padding: 0 40px;
}
#nav .main_left .nav-list.nav-basic a {
    color: rgba(0,0,0,.45);
    font-size: 12px;
    border-bottom: 1px solid #f2f2f2;
    padding-left: 0;
}
#app .main_body {
    height: 100%;
    flex: 1;
    padding: 20px 60px;
    text-align: left;
    font-size: 14px;
}
